* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #5F57EA;
}

select {
  margin: auto;
  display: flex;
  padding: 15px;
  margin-top: 50px;
  color: white;
  background-color: darkslateblue;
}

h1 {
  margin-left: 10px;
  color: white;
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: black;
}
header img {
  width: 70px;
}

.container-cd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 100px 0
}
.cd {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 380px;
  flex-basis: 200px;
  margin: 20px;
  padding: 10px;
  color: white;
  background: rgb(52, 46, 112);
}
.cd img {
  width: 160px;
}
#title {
  font-size: 22px;
}
