* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #5F57EA;
}

h1 {
  margin-left: 10px;
  color: white;
}
header {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: black;
}
header img {
  width: 70px;
}

.container-cd {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 200px;
}
.cd {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.cd img {
  width: 160px;
}
